* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background: #4e484b;
}

::-webkit-scrollbar-track {
  background: #cacaca;
}

body {
  background: #2c2b2c;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.libary-section {
  background: white;
}

.side-bar {
  width: 28vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #414141;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-area {
  width: 100%;
}

.icon {
  width: 57%;
  height: 38%;
}

.icon img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.tabs {
  width: 100%;
  color: #fff;
}

.tabs .tab {
  width: 100%;
  padding: 1rem 5.6vw;
  font-size: 1.11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 5px solid transparent;
  cursor: pointer;
  -webkit-transition: background 200ms ease;
  transition: background 200ms ease;
}

.tabs .tab:hover {
  background: #414041de;
  border-right: 5px solid #0e64b498;
}

.tabs .tab.active {
  background: #525052;
  border-right: 5px solid #0c5395;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5vh 0;
  width: 80%;
  color: #fff;
}

.storage {
  line-height: 1.8;
  font-size: 1rem;
}

.circle-graph {
  position: relative;
  width: 76px;
  height: 76px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.storage-percent {
  color: #e2e2e2;
  display: block;
  line-height: 76px;
  width: 76px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.08rem;
  font-weight: 400;
  margin-left: 2px;
}

.right-section {
  width: calc(100vw - 24vw);
  padding: 0 8vw;
  overflow-y: scroll;
}

.alphabet-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8vh 0;
}

.alphabet-section .letter {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 4vh;
}

.alphabet-section .section-games {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
}

.alphabet-section .section-games .wrapper {
  width: 100%;
  position: relative;
  margin: 0;
  -webkit-transition: scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  transition: scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  transition: box-shadow 200ms ease-in, scale 300ms ease-out;
  transition: box-shadow 200ms ease-in, scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  cursor: pointer;
}

.alphabet-section .section-games .wrapper:hover {
  outline: 8px solid #418ad4;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 3;
  -webkit-box-shadow: 0 0 49px 5px #3789db;
          box-shadow: 0 0 49px 5px #3789db;
}

.alphabet-section .section-games .wrapper:hover .overlay {
  height: 30%;
}

.alphabet-section .section-games .wrapper img {
  height: auto;
  display: block;
  width: 100%;
}

.alphabet-section .section-games .wrapper .content {
  position: absolute;
  top: 45%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.alphabet-section .section-games .wrapper .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2680da;
  width: 100%;
  height: 0;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
  overflow: hidden;
}

.alphabet-section .section-games .game {
  background-image: url("../assets/destiny.jpg");
  background-position: center;
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 100ms ease-in-out, scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  transition: all 100ms ease-in-out, scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  transition: all 100ms ease-in-out, box-shadow 200ms ease-in, scale 300ms ease-out;
  transition: all 100ms ease-in-out, box-shadow 200ms ease-in, scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  cursor: pointer;
}

.alphabet-section .section-games .game:hover {
  outline: 8px solid #418ad4;
  -webkit-box-shadow: 0 0 49px 5px #3789db, inset 0px -48px 0px 0px #2680da;
          box-shadow: 0 0 49px 5px #3789db, inset 0px -48px 0px 0px #2680da;
  z-index: 2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.alphabet-section .section-games .game:nth-child(2) {
  background-image: url("../assets/doom.jpg");
}
