* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background: #4e484b;
}

::-webkit-scrollbar-track {
  background: #cacaca;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

a {
  text-decoration: none !important;
}

/* 

  Navbar section

*/
nav {
  min-height: 8vh;
  background: transparent;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  position: fixed;
  width: 100%;
  font-size: 1.1rem;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: -webkit-backdrop-filter 300ms;
  transition: -webkit-backdrop-filter 300ms;
  transition: backdrop-filter 300ms;
  transition: backdrop-filter 300ms, -webkit-backdrop-filter 300ms;
}

.scrolled-down {
  -webkit-backdrop-filter: blur(15px) brightness(90%);
          backdrop-filter: blur(15px) brightness(90%);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 90%;
}

.nav-links a {
  color: #f8f8f8;
  text-decoration: none;
  font-weight: 450;
  letter-spacing: 0.7;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

.avatar img {
  height: auto;
  width: 50px;
  border: 4px solid #418ad4;
  border-radius: 50px;
  margin-right: 2vw;
}

.avatar .avatar-info {
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
}

.avatar .avatar-info p:nth-child(2) {
  color: #c4c4c4;
}

.avatar .avatar-info .gold {
  font-weight: 700;
  color: black;
  mix-blend-mode: screen;
  background-color: #c4c4c4;
  border-radius: 50%;
  padding: 0 5.5px;
}

.nav-info {
  color: #f8f8f8;
  font-weight: 450;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* 

  Home section

*/
#home {
  background-attachment: fixed;
  background-image: url("../assets/blur-cover.jpg");
  background-position: center;
  scroll-snap-align: start;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .title h1 {
  font-size: 3rem;
  color: #fff;
}

.options-list {
  width: 87%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.options-list .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: scale 200ms ease-in, -webkit-box-shadow 100ms ease-in;
  transition: scale 200ms ease-in, -webkit-box-shadow 100ms ease-in;
  transition: box-shadow 100ms ease-in, scale 200ms ease-in;
  transition: box-shadow 100ms ease-in, scale 200ms ease-in, -webkit-box-shadow 100ms ease-in;
  border: 8px solid transparent;
}

.options-list .option:hover {
  -webkit-backdrop-filter: blur(20px) saturate(140%);
          backdrop-filter: blur(20px) saturate(140%);
  border: 8px solid #418ad4;
  z-index: 100;
  -webkit-box-shadow: 0 0 38px 3px #3789db;
          box-shadow: 0 0 38px 3px #3789db;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.options-list .option .img {
  background-image: url("../assets/game-forza.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
}

.options-list .option .option-info {
  padding: 14.8px;
}

.options-list .option .option-info .option-title {
  font-weight: 600;
  color: #cecece;
  font-size: 1.05rem;
  letter-spacing: 0.9px;
  margin-bottom: 0.2rem;
}

.options-list .option .option-info .option-subtitle {
  font-size: 1.01rem;
  font-weight: 490;
  color: #e7e7e7b6;
  letter-spacing: 0.7px;
}

.recent-games {
  -webkit-backdrop-filter: blur(33px) saturate(105%);
          backdrop-filter: blur(33px) saturate(105%);
  height: 40vh;
}

.recent-games .games-list {
  width: 87%;
  display: -ms-grid;
  display: grid;
  padding-top: 4%;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  margin: 0 auto;
  gap: 0.3rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  -webkit-transition: scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  transition: scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  transition: box-shadow 200ms ease-in, scale 300ms ease-out;
  transition: box-shadow 200ms ease-in, scale 300ms ease-out, -webkit-box-shadow 200ms ease-in;
  cursor: pointer;
}

.wrapper:hover {
  outline: 9px solid #418ad4;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 3;
  -webkit-box-shadow: 0 0 49px 5px #3789db;
          box-shadow: 0 0 49px 5px #3789db;
}

.wrapper:hover .overlay {
  height: 30%;
}

.wrapper:hover .full {
  height: 100%;
}

.wrapper img {
  height: 100%;
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .content {
  position: absolute;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
}

.wrapper .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2680da;
  width: 100%;
  height: 0;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
  overflow: hidden;
}

.wrapper .wide {
  -webkit-backdrop-filter: blur(50px) brightness(80%);
          backdrop-filter: blur(50px) brightness(80%);
  background: transparent;
}

/*

  About section

*/
#about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-attachment: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-image: url("../assets/blur-cover.jpg");
  background-size: cover;
  height: 100vh;
}

.about {
  height: 40vh;
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5rem;
}

.user img {
  margin: 0 0 1.3rem;
  border-radius: 50%;
  height: 18vw;
  border: 10px solid transparent;
  -webkit-transition: border 100ms ease, -webkit-box-shadow 200ms ease;
  transition: border 100ms ease, -webkit-box-shadow 200ms ease;
  transition: border 100ms ease, box-shadow 200ms ease;
  transition: border 100ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}

.user img:hover {
  border: 10px solid #418ad4;
  -webkit-box-shadow: 0 0 36px 3px #3789db;
          box-shadow: 0 0 36px 3px #3789db;
}

.user .info {
  color: #f8f8f8;
  line-height: 1.4;
  letter-spacing: 0.7px;
  word-spacing: 1.1px;
  font-size: 1.08rem;
}

.invite {
  margin-top: 1rem;
}

.invite p {
  padding: 14px;
  margin-bottom: 0.3rem;
  -webkit-backdrop-filter: blur(20px) brightness(80%);
          backdrop-filter: blur(20px) brightness(80%);
  color: #f8f8f8;
  cursor: pointer;
  -webkit-transition: outline 100ms ease, -webkit-box-shadow 200ms ease;
  transition: outline 100ms ease, -webkit-box-shadow 200ms ease;
  transition: outline 100ms ease, box-shadow 200ms ease;
  transition: outline 100ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}

.invite p:hover {
  z-index: 3;
  outline: 10px solid #418ad4;
  -webkit-box-shadow: 0 0 36px 3px #3789db;
          box-shadow: 0 0 36px 3px #3789db;
}

.game-area {
  margin-top: 1rem;
  background-image: url("../assets/bane-of-kell.jpg");
  background-position: center;
  height: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: outline 100ms ease, -webkit-box-shadow 200ms ease;
  transition: outline 100ms ease, -webkit-box-shadow 200ms ease;
  transition: outline 100ms ease, box-shadow 200ms ease;
  transition: outline 100ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}

.game-area:hover {
  z-index: 3;
  outline: 10px solid #418ad4;
  -webkit-box-shadow: 0 0 36px 3px #3789db;
          box-shadow: 0 0 36px 3px #3789db;
}

.game-area .game-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  font-size: 3rem;
  margin: 1.5rem;
}

.game-area .game-info {
  -webkit-backdrop-filter: blur(30px) brightness(95%);
          backdrop-filter: blur(30px) brightness(95%);
  padding: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  color: #afafaf;
  font-weight: 400;
}

.game-area .game-info .game-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.game-area .game-info .p3 {
  font-weight: 600;
  color: #fff;
}

/* 

  Pins section

*/
#pins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-attachment: fixed;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  scroll-snap-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8vw;
  background-repeat: no-repeat;
  background-image: url("../assets/blur-cover.jpg");
  background-size: cover;
  height: 100vh;
}

.heading {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.heading h1 {
  font-size: 2.8rem;
}

.heading p {
  font-size: 1.6rem;
}

.games-grid {
  display: -ms-grid;
  display: grid;
  gap: 0.2rem;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.add {
  color: #fff;
  -webkit-backdrop-filter: blur(30px) brightness(80%);
          backdrop-filter: blur(30px) brightness(80%);
  cursor: pointer;
  padding: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: scale 100ms ease, -webkit-box-shadow 200ms;
  transition: scale 100ms ease, -webkit-box-shadow 200ms;
  transition: scale 100ms ease, box-shadow 200ms;
  transition: scale 100ms ease, box-shadow 200ms, -webkit-box-shadow 200ms;
}

.add:hover {
  z-index: 3;
  outline: 10px solid #418ad4;
  -webkit-box-shadow: 0 0 36px 3px #3789db;
          box-shadow: 0 0 36px 3px #3789db;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* 

  Game pass section

*/
#game-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-attachment: fixed;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 8vw;
  scroll-snap-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/blur-cover.jpg");
  background-size: cover;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-pass-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  gap: 0.5rem;
}

.game-pass-grid .game-pass-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  margin-right: 1rem;
}

.game-pass-grid .game-pass-icon .add {
  margin-top: 1rem;
}

.game-pass-grid .game-pass-item {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("../assets/dead-rising.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 10px 0 #232323;
          box-shadow: inset 0 0 10px 0 #232323;
  -webkit-transition: outline 100ms ease, scale 200ms ease, -webkit-box-shadow 300ms ease-in;
  transition: outline 100ms ease, scale 200ms ease, -webkit-box-shadow 300ms ease-in;
  transition: outline 100ms ease, scale 200ms ease, box-shadow 300ms ease-in;
  transition: outline 100ms ease, scale 200ms ease, box-shadow 300ms ease-in, -webkit-box-shadow 300ms ease-in;
  cursor: pointer;
}

.game-pass-grid .game-pass-item:nth-of-type(2) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

.game-pass-grid .game-pass-item:nth-of-type(3) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
}

.game-pass-grid .game-pass-item:nth-of-type(4) {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
}

.game-pass-grid .game-pass-item:nth-of-type(5) {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
}

.game-pass-grid .game-pass-item .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(#000000b6), to(#0000));
  background-image: linear-gradient(to top, #000, #000000b6, #0000);
  font-size: 1.1rem;
  letter-spacing: 0.75px;
}

.game-pass-grid .game-pass-item:hover {
  z-index: 3;
  outline: 8px solid #418ad4;
  -webkit-box-shadow: 0 0 48px 5px #3789db;
          box-shadow: 0 0 48px 5px #3789db;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
