* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background: #4e484b;
}

::-webkit-scrollbar-track {
  background: #cacaca;
}
