.light {
  --bg1: url('../assets/light-cover.jpg');
  --text-color: #232323;
  --text-color-light: #303030;
  --option-title: #363636;
  --option-subtitle: #3d3d3d;
  --box-shadow: #49a4ff;
  --box-border: #4b9ef1;
  --overlay: #2787e7;
  --blur-dark: brightness(95%);
  --blur-light: brightness(88%);
  --theme: #fff;
  --bg-color: rgba(255, 255, 255, 0.4);
}
